@charset "UTF-8";

@font-face {
  font-family: "fsphp";
  src:url("fonts/fsphp.eot");
  src:url("fonts/fsphp.eot?#iefix") format("embedded-opentype"),
    url("fonts/fsphp.woff") format("woff"),
    url("fonts/fsphp.ttf") format("truetype"),
    url("fonts/fsphp.svg#fsphp") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fsphp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fsphp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-asterisk:before {
  content: "\61";
}
.icon-black-tie:before {
  content: "\63";
}
.icon-camera:before {
  content: "\64";
}
.icon-check-square:before {
  content: "\65";
}
.icon-check-square-o:before {
  content: "\66";
}
.icon-check:before {
  content: "\67";
}
.icon-check-circle:before {
  content: "\68";
}
.icon-check-circle-o:before {
  content: "\69";
}
.icon-cog:before {
  content: "\6a";
}
.icon-lock:before {
  content: "\6b";
}
.icon-map-marker:before {
  content: "\6c";
}
.icon-minus-circle:before {
  content: "\6d";
}
.icon-paperclip:before {
  content: "\6e";
}
.icon-picture-o:before {
  content: "\6f";
}
.icon-share-alt:before {
  content: "\70";
}
.icon-star:before {
  content: "\71";
}
.icon-times:before {
  content: "\72";
}
.icon-times-circle:before {
  content: "\73";
}
.icon-tags:before {
  content: "\74";
}
.icon-tag:before {
  content: "\75";
}
.icon-trash:before {
  content: "\76";
}
.icon-user:before {
  content: "\77";
}
.icon-user-plus:before {
  content: "\78";
}
.icon-users:before {
  content: "\79";
}
.icon-whatsapp:before {
  content: "\7a";
}
.icon-thumb-tack:before {
  content: "\41";
}
.icon-question-circle:before {
  content: "\42";
}
.icon-share-alt-square:before {
  content: "\43";
}
.icon-money:before {
  content: "\44";
}
.icon-folder:before {
  content: "\45";
}
.icon-folder-o:before {
  content: "\46";
}
.icon-file-pdf-o:before {
  content: "\47";
}
.icon-file-text:before {
  content: "\48";
}
.icon-file-image-o:before {
  content: "\49";
}
.icon-commenting-o:before {
  content: "\4a";
}
.icon-comments:before {
  content: "\4b";
}
.icon-cloud-download:before {
  content: "\4c";
}
.icon-cloud-upload:before {
  content: "\4d";
}
.icon-clock-o:before {
  content: "\4e";
}
.icon-ban:before {
  content: "\4f";
}
.icon-bar-chart:before {
  content: "\50";
}
.icon-bell:before {
  content: "\62";
}
.icon-coffee:before {
  content: "\51";
}
.icon-facebook-square:before {
  content: "\52";
}
.icon-instagram:before {
  content: "\54";
}
.icon-youtube-play:before {
  content: "\55";
}
.icon-phone-square:before {
  content: "\56";
}
.icon-envelope:before {
  content: "\57";
}
.icon-bars:before {
  content: "\58";
}
.icon-warning:before {
  content: "\59";
}
.icon-warning-circle:before {
  content: "\5a";
}
.icon-sign-in:before {
  content: "\30";
}
.icon-sign-out:before {
  content: "\31";
}
.icon-heartbeat:before {
  content: "\32";
}
.icon-suitcase:before {
  content: "\33";
}
.icon-play-circle-o:before {
  content: "\34";
}
.icon-graduation-cap:before {
  content: "\35";
}
.icon-life-ring:before {
  content: "\36";
}
.icon-leanpub:before {
  content: "\37";
}
.icon-plus-circle:before {
  content: "\38";
}
.icon-search:before {
  content: "\39";
}
.icon-unlock-alt:before {
  content: "\21";
}
.icon-info:before {
  content: "\22";
}
.icon-home:before {
  content: "\24";
}
.icon-calendar-check-o:before {
  content: "\25";
}
.icon-calendar-minus-o:before {
  content: "\26";
}
.icon-calendar:before {
  content: "\27";
}
.icon-cogs:before {
  content: "\28";
}
.icon-heart:before {
  content: "\29";
}
.icon-heart-o:before {
  content: "\2a";
}
.icon-bell-o:before {
  content: "\2b";
}
.icon-bell-slash:before {
  content: "\2c";
}
.icon-bell-slash-o:before {
  content: "\2d";
}
.icon-trophy:before {
  content: "\2e";
}
.icon-th-list:before {
  content: "\2f";
}
.icon-star-o:before {
  content: "\3a";
}
.icon-star-half-o:before {
  content: "\3b";
}
.icon-signal:before {
  content: "\3c";
}
.icon-print:before {
  content: "\3d";
}
.icon-pencil-square-o:before {
  content: "\3e";
}
.icon-paper-plane:before {
  content: "\3f";
}
.icon-paper-plane-o:before {
  content: "\40";
}
.icon-credit-card:before {
  content: "\5b";
}
.icon-gift:before {
  content: "\5d";
}
.icon-flask:before {
  content: "\5e";
}
.icon-flag:before {
  content: "\5f";
}
.icon-comments-o:before {
  content: "\60";
}
.icon-bullhorn:before {
  content: "\7b";
}
.icon-align-justify:before {
  content: "\7c";
}
.icon-briefcase:before {
  content: "\7d";
}
.icon-filter:before {
  content: "\7e";
}
.icon-angle-down:before {
  content: "\e000";
}
.icon-thumbs-o-down:before {
  content: "\5c";
}
.icon-thumbs-o-up:before {
  content: "\e001";
}
.icon-random:before {
  content: "\e002";
}
.icon-exchange:before {
  content: "\e003";
}
.icon-square-o:before {
  content: "\e004";
}
.icon-bug:before {
  content: "\e005";
}
.icon-paint-brush:before {
  content: "\e006";
}
.icon-reply-all:before {
  content: "\e007";
}
.icon-retweet:before {
  content: "\e008";
}
.icon-rss-square:before {
  content: "\e009";
}
.icon-folder-open:before {
  content: "\e00a";
}
.icon-folder-open-o:before {
  content: "\e00b";
}
.icon-bookmark:before {
  content: "\e00c";
}
.icon-bookmark-o:before {
  content: "\e00d";
}
.icon-trash-o:before {
  content: "\e00e";
}
.icon-ticket:before {
  content: "\e00f";
}
.icon-thumbs-up:before {
  content: "\e010";
}
.icon-thumbs-down:before {
  content: "\e011";
}
.icon-unlock:before {
  content: "\e012";
}
.icon-upload:before {
  content: "\e013";
}
.icon-download:before {
  content: "\e014";
}
.icon-camera-retro:before {
  content: "\e015";
}
.icon-car:before {
  content: "\e016";
}
.icon-quote-left:before {
  content: "\e017";
}
.icon-quote-right:before {
  content: "\e018";
}
.icon-usd:before {
  content: "\e019";
}
.icon-twitter-square:before {
  content: "\53";
}
.icon-pencil:before {
  content: "\e01a";
}
.icon-truck:before {
  content: "\e01b";
}
.icon-archive:before {
  content: "\e01e";
}
.icon-level-down-1:before {
  content: "\e01c";
}
.icon-dot-circle-o:before {
  content: "\23";
}
