/*RESET*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    /*app vars*/
    --area-small: 10px;
    --area-normal: calc(var(--area-small) * 2);
    --area-box: calc(var(--area-small) * 3);

    text-decoration: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*VARIABLES*/
:root {
    --font-min: 0.8em;
    --font-small: 0.875em;
    --font-normal: 1em;
    --font-medium: 1.2em;
    --font-large: 1.4em;
    --font-max: 2em;

    --color-default: #555555;
    --color-green: #36BA9B;
    --color-blue: #39AED9;
    --color-yellow: #F5B946;
    --color-red: #D94352;

    --weight-light: 300;
    --weight-normal: 400;
    --weight-strong: 600;
    --weight-bold: 700;
    --weight-black: 900;

    --hover-color-green: #61DDBC;
    --hover-color-blue: #66D4F1;
    --hover-color-yellow: #FCD277;
    --hover-color-red: #F76C82;
    --hover-duration: 0.3s;

    --radius-small: 2px;
    --radius-normal: 5px;
    --radius-medium: 10px;
    --radius-large: 20px;
    --radius-round: 50%;
}

/*ICONS NORMALIZE*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
    position: relative !important;
    top: .125em !Important;
    margin-right: .4em !Important;
}

.icon-notext:before {
    top: 0;
    margin-right: 0 !important;;
}

.ds-flex {
    display: flex;
}

.al-center {
    text-align: center;
}

.color-blue {
    color: var(--color-blue);
}

.color-yellow {
    color: var(--color-yellow);
}

.color-red {
    color: var(--color-red);
}

/*BUTTONS*/

.btn {
    display: inline-block;
    background: #555555;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: var(--weight-normal);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
    transition-duration: var(--hover-duration);
}

.btn-normal {
    padding: 10px 15px;
    font-size: var(--font-normal);
}

.btn-large {
    padding: 20px 25px;
    font-size: var(--font-large);
}

.btn-green {
    background-color: var(--color-green);
}

.btn-green:hover {
    background-color: var(--hover-color-green);
}

.btn-blue {
    background-color: var(--color-blue);
}

.btn-blue:hover {
    background-color: var(--hover-color-blue);
}

.btn-red {
    background-color: var(--color-red);
}

.btn-red:hover {
    background-color: var(--hover-color-red);
}

/*APP MODAL*/
.app_modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: var(--area-box) 0;
    background: rgba(100, 100, 100, 0.7);
    display: none;
    overflow-y: auto;
}

.app_modal .message {
    text-align: center;
    margin-bottom: var(--area-normal);
}

.app_modal_close {
    position: absolute;
    right: 0;
    top: 0 !important;
    background-color: #fff;
    color: var(--color-default);
    font-size: var(--font-normal);
    font-weight: var(--weight-bold);
}

.app_modal_close:hover {
    color: var(--color-red);
}

.app_modal_print {
    position: absolute;
    right: 20px;
    top: 0;
    background-color: #fff;
    color: var(--color-default);
    font-size: var(--font-normal);
    font-weight: var(--weight-bold);
}

.app_modal_print:hover {
    color: var(--color-blue);
}

.app_modal_box {
    display: none;
    position: relative;
    margin: auto;
    width: 500px;
    max-width: 94%;
    padding: calc(var(--area-box) * 1.3);
    background: #ffffff;

    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
}

.app_modal_box button {
    width: 100%;
}

/* MODAL INFO DELETE */
.app_modal_box .title {
    font-size: var(--font-medium);
    font-weight: var(--weight-light);
    line-height: 1.5em;
    text-align: center;
    border-bottom: none;
    margin: 0;
}

.app_modal_box .js-icon {
    font-size: 5em;
}

.app_modal_box a {
    flex-basis: 100%;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}